@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script|Varela+Round&display=swap');


/* **************** COLORS **************** */
:root {
  --theme-color1: #282a36;
  --theme-color2: #22242e;
  --theme-color3: #63474a;
  --theme-color4: #7d6262;
  --theme-color44: #369ecf;
  --theme-color444: #418d94; /* #369ecf */
  --theme-color5: #09a97e;
  --theme-color55: #61F079;
  --theme-color6: #e9d556;
  --theme-color7: #2a2a2a;
  --theme-color77: #c4c4c4;
  --theme-color777: #4a475d;
  --theme-color8: #ffffffc6;
  --theme-color88: #ffffff49;
  --theme-color888: #c9c9c9;
  --theme-color99: #ffffff;
  --theme-color100:#000000;
}

/* **************** FONTS **************** */

body {
  font-family: 'Comic Neue', sans-serif;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
}

h1 {
  font-family: 'Arial', cursive;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: var(--theme-color99);
  text-shadow: 1px 3px 5px rgb(0, 0, 0);
}

@media only screen and (max-width: 1060px) {
  h1 {
    font-size: 1.5em;
  }
}


h2 {
  font-family: 'Arial', cursive;
  font-size: 2.2em;
  font-weight: 500;
  color: var(--theme-color1);
  text-shadow: 1px 3px 18px rgba(0, 0, 0, 0.3);
  margin-left: 1em;
  margin-bottom: 60px;
}

@media only screen and (min-width: 1060px) {
  h2 {
    margin-left: 0;
    text-align: left;
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 1060px) {
  h2 {
    margin-left: 0;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 50px;
  }
}

h3 {
  font-family: 'Arial', cursive;
  font-size: 1.1em;
  font-weight: bold;
  /* text-decoration: underline; */
  color: var(--theme-color99);
  text-shadow: 1px 3px 18px rgba(0, 0, 0, 0.3);
}

h4 {
  font-family: 'Comic Neue', sans-serif;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  color: var(--theme-color99);
  text-shadow: 1px 3px 18px rgba(0, 0, 0, 0.3);
}

h5 {
  font-family: 'Comic Neue', sans-serif;
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  color: var(--theme-color99);
}

strong {
  font-family: 'Advent Pro', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  color: var(--theme-color99);
  text-shadow: 1px 3px 18px rgba(0, 0, 0, 0.3);
}


/* **************************** Dimensions **************************** */
:root {
--dim-sidebar-width-ratio: 30%;
--dim-navbar-height: 70px;

}


html {
  scroll-behavior: smooth;
}


body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  width: max-content;
  border: 2px solid #ffffff;
  color: inherit;
  border-radius: 5px;
  background-color: var(--theme-color44);
}


/* ****************************************** HEADER ****************************************** */
header{
  width: max-content;
}

@media only screen and (max-width: 1060px) {
  header{
    width: 100%;
    margin-left: 0;
  }
}



/* ****************************************** NAVBAR ****************************************** */
nav {
  overflow: hidden;
  background-color: var(--theme-color2);
  color: #000000;
  opacity: 1;
  position: fixed;
  width: calc(100% - var(--dim-sidebar-width-ratio));
  margin-left: var(--dim-sidebar-width-ratio);
  top: 0;
  z-index: 9999;  
  display: flex;
  justify-content: space-between;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}

#nav-main-content{
  overflow: hidden;
  margin-left: 0;
  display: flex;
  flex-grow: 1;
}


@media only screen and (min-width: 1060px) {
  nav{
    width: 100%;
    margin-left: 0;
    height: var(--dim-navbar-height);
  }
}

@media only screen and (max-width: 1060px) {
  nav{
    width: 100%;
    margin-left: 0;
    height: var(--dim-navbar-height);
  }

  nav.active{
    height: fit-content;
  }
}


#brand-and-logo {
  margin: auto 0 auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  width: var(--dim-sidebar-width-ratio);
}

#logo {
  margin: auto 0 auto 10px;
  max-width: 1%;
  height: auto;
}

#logo img {
  margin-top: auto;
  width: auto;
  height: 40px;
}


#brand {
  margin-left: 8px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  white-space: nowrap;
  color: var(--theme-color99);
}

nav h1{
  text-align: left;
  margin-left: 0;
  padding: 0 20px;
}


#nav-links {
  margin: 0 0 0 0;
  /* flex-grow: 1; */
  height: 100%;
  padding-right: 50px;
}

#nav-links li{
  margin: auto 70px auto 0px ;
}


#nav-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: auto 0 auto 0;
  flex-grow: 1;
  padding: auto 20px;
  height: 100%;
}


@media only screen and (max-width: 1060px) {

  #nav-links {
    margin: auto 0;
    min-width: 65%;
  }

  #nav-main-content{
    justify-content: left;
    align-items: start;
    flex-direction: column;
    margin-top : 0px;
    margin-bottom : 10px;
  }

  #nav-links ul{
    flex-direction: column;
    margin-top : 5px;
    align-items: start;
    margin-bottom : 10px;

  }

  #nav-links li{
    margin-bottom : 10px;
  }

}


#nav-links a {
  margin-top: 0px;
  font-family: 'Comic Neue', sans-serif; 
  font-weight: 700;
  /* 'Calibri', sans-serif; */
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: var(--theme-color99)
}

#nav-links li :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
  color: var(--theme-color44)
}



#menu-button {
  margin: 20px 30px auto auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: solid white 2px;
  border-radius: 5px;
  transition: all 500ms ease;
  --spanHeight: 2px;
  --spanGap: 5px;
  --preferredWidth: calc(3*var(--spanHeight) + 4*var(--spanGap));
  --translationAmount: calc(var(--spanHeight) + var(--spanGap));
}

#menu-button>span {
  transition: all 500ms ease;
  width: var(--preferredWidth);
  /* 28px */
  height: var(--spanHeight);
  background-color: var(--theme-color99);
  display: block;
}

#menu-button>span:not(:first-child) {
  margin-top: var(--spanGap);
}

#menu-button.active {
  border: solid rgba(255, 255, 255, 0) 3px;
}

#menu-button.active>span:nth-child(1) {
  transform: translateY(var(--translationAmount)) rotate(45deg);
}

#menu-button.active>span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#menu-button.active>span:nth-child(3) {
  transform: translateY(calc(-1 * var(--translationAmount))) rotate(-45deg);
}


@media only screen and (max-width: 1060px) {
  #menu-button{
    display: flex;
  }
}

@media only screen and (min-width: 1060px) {
  #menu-button{
    display: none;
  }
}

/* ****************************************** NAVBAR END****************************************** */




/* ****************************************** HERO ****************************************** */

#hero {
  transform-style: preserve-3d;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--dim-sidebar-width-ratio);
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
  overflow: hidden;
  background-color: var(--theme-color100);
  transition: all 500ms ease;
  box-shadow: -5px  4px 8px rgba(0, 0, 0, 0.5); /* Shadow */
  padding: 0px;
  margin-bottom: 0;
  z-index: 1;
}


@media only screen and (max-width: 1060px) {
  #hero {
    margin: 0;
    margin-top: var(--dim-navbar-height);
    z-index: -10;    
    position:relative;
    width: 100%;
    height: 520px;
  }
}


#hero-background {
  position: relative;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  background-color: var(--theme-color1);
}

.media-container {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.media-container * {
  margin-left: auto;
  transform: translateX(-50%);
  height: 200px;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


#hero .parallax{
  --parallax-invDist: 0.8;
  --parallax-offset: 0px;
}




#hero-content {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  height: 100%;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #ffffff00;
  /* display: none; */
}

.profile{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* transform: translateX(-50%); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.profile img {
  width: 35%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  /* shape-outside: circle(50%); */
  shape-margin: 0px; /* Réduit l'espacement pour qu'il soit proportionnel à la taille de l'image */
}

.profile-name {
  margin: 0;
  margin-top: 20px;
  font-weight: bolder;
  text-align: justify;
  line-height: 1.6;
  font-size: 1.7em;
  color: var(--theme-color99);
}


.profile-domain {
  margin: 0;
  font-weight: bolder;
  text-align: center;
  line-height: 1.6;
  font-size: 1.3em;
  color: var(--theme-color888);

}

.profile-profession {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bolder;
  text-align: right;
  line-height: 1.6;
  font-size: 1.1em;
  color: var(--theme-color888);
}

.profile-establishment{
  font-size: 1.1em;
  width: 100%;
  text-align: right;
}

.profile-establishment a{
  text-decoration: none;
  color: var(--theme-color444);
  font-size: 1.1em;
  font-weight: bolder;
  transition: all 500ms;
}
.profile-establishment a:hover{
  text-decoration: underline;
  color: var(--theme-color444);
  font-size: 1.1em;
  font-weight: bolder;
}


.profile-description {
  margin: 30px 0;
  font-weight:500;
  text-align: justify;
  line-height: 1.6;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
}


.profile-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.profile-links ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none; 
  padding: 0; 
  margin-top: auto; 
  margin-bottom: auto;
  height: 50px;
}

.profile-links li {
  margin: 0 20px;
  width: fit-content;
  height: fit-content;
}

.profile-links img{
  width: auto;
  height: 25px;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); /* black to another-color */
}


.profile-links img:hover {
  transform: scale(1.1);
  transition: 0.1s;
}


#about-me .profile{
  margin-top: 30px;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 30%;
}

.card-picture{
  width: 35%;
  height: auto;
  max-height: 300px;
  margin: auto 50px;
  border-style: solid;
  border-color: var(--theme-color99);
  border-width: 5px;
  border-radius: 10px;
  min-width: 300px;
}

/* ****************************************** HERO END ****************************************** */



/* ****************************************** HEADER END ****************************************** */







/* ************************ Sections (common style) *********************** */


@media only screen and (min-width: 1060px) {
  main {
    margin-top: var(--dim-navbar-height);
  }

  main, footer {
    overflow: hidden;
    margin-left: var(--dim-sidebar-width-ratio);
    /* width: calc(100% - var(--dim-sidebar-width-ratio)); */
  }

}


@media only screen and (max-width: 1060px) {

  main {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }

  footer {
    margin-left: 0;
    /* width: 100%; */
  }
}


.main-sections {
  padding: 50px;
  background-size: cover;
  margin: 0;
  height: max-content;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}



#intro-section{
  background: var(--theme-color99) no-repeat;
  color: var(--theme-color1);
}


#project-section{
  background: var(--theme-color44) no-repeat;
}


#work-section{
  background: var(--theme-color444) no-repeat;
  background-size: cover;
  color: var(--theme-color99);
  padding: 0px;
  margin: 0;
  height: max-content;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#work-section h2{
  color: var(--theme-color99);
}


.work-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-grid a{
  margin: 10px 60px;
}

.work-grid img{
  height: 150px;
  width: auto;
  transition: all 400ms;
}

.work-grid img:hover{
  transform: scale(1.1);
}

.highlight {
  font: 1.7rem 'Comic Neue', sans-serif;
  color: inherit;
  text-shadow: 6px  4px 3px rgba(0, 0, 0, 0.3);
}

#resume-button{
  width: max-content;
  padding: 10px 50px;
  transform: translateX(-50%);
  margin: 10px auto 15px 50%;
  font-weight: normal;
  border: 2px solid var(--theme-color44);
  background-color: inherit;
  font-size: 1em;
}

#resume-button:hover {
  background-color: var(--theme-color44);
  color: var(--theme-color99);
  transition: 0.3s ease-in-out;
}



#youtube-video-container {
  border-radius: 10px;
  padding: 20px;
  background-color: var(--theme-color5);
}


.video-indication {
  text-align: center;
  margin: 5px auto 30px auto;
  font-size: 1.3em;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: max-content;
}

.iframe-container iframe {
  margin-left: 50%;
  transform: translate(-50%);
  width: 60vw;
  height: 50vh;
  border: solid #fdf4f4;
  border-width: 2px;
  border-radius: 10px;
}


@media only screen and (max-width: 900px) {

  .highlight {
    font: 1.3rem 'Comic Neue', sans-serif;
    text-wrap: wrap;
    color: inherit;
    text-shadow: 6px  4px 3px rgba(0, 0, 0, 0.3);
  }

  .presentation-image{
    border: var(--theme-color99) solid 3px;
    /* width: 180px;
    height: 180px; */
    margin-top: 20px;
    margin-bottom: auto;
  }
  


  .cool-feature-group{
    padding : 2% 5%;
  }
  
  .cool-feature-2{
    margin: 5%;
  }

  
}


/* ******************************* PROJECTS ********************************** */

#project-section h2{
  color: var(--theme-color99);
}


#projects-grid {
  display: grid;
  max-width: 940px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(90%, 1fr)); */

  gap: 30px;
  /* grid-auto-rows: minmax(auto, auto); */
}

@media only screen and (max-width: 900px) {

  #projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
  
}



/* Cell */
.project-cell {
  border: 3px solid var(--theme-color88);
  border-radius: 5px;
  /* background-color: var(--theme-color88); */
  padding: 0.2em;
  /* color: var(--theme-color1); */
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}




.projects-preview {
  width: 100%;
  height: 350px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 0px solid var(--theme-color99);
  border-radius: 3px;
  background-color: var(--theme-color99);
  overflow: hidden;
}

#projects-grid .projects-preview img {
  /* width: 80%;
  height: auto;
  margin-left: 50%;
  margin-top: 0%;
  transform: translate(-50%, 0%); */

  margin-left: 50%;
  margin-top: 0%;
  transform: translate(-50%, 0%);
  height: 110%;
  width: auto;

  /* min-width: 100%;
  min-height: 100%; */
  object-fit: cover;

}

.projects-content {
  margin: 0 20px;
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.project-title-and-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-title-and-link h3{
  text-align: left;
  flex-grow: 1;
}

.project-title-and-link button{
  height: fit-content;
  width: fit-content;
  border: none;
  margin: 0;
}

.project-title-and-link img{
  height: 20px;
  width: auto;
  transition: all 500ms;
}

.project-title-and-link button:hover{
  transform: scale(1.1);
}

#projects-grid p {
  color: var(--theme-color2);
}


.project-tags-container{
  display: flex;
  max-width: 940px;
  margin: 0 0;
  gap: 2px;
  flex-wrap: wrap;
}

.project-tags-container > div {
  border: 2px solid var(--theme-color88);
  border-radius: 5px;
  background-color: var(--theme-color99);
  padding: 0.1em;
  color: var(--theme-color44);
  text-align: center;
  text-wrap: nowrap;
  font-size: 0.8em;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  padding: 2px;
}

#projects-grid ul{
  margin: 0 0 20px 0;
  flex: auto;
  flex-grow: 1;
  flex-wrap: wrap;
}

#projects-grid ul li{
  list-style:disc;
  color: var(--theme-color2);
}





.project-src-btn{
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-color1);
  text-wrap: nowrap;
  background-color: var(--theme-color99);
  border: 0px;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: 0px;
  transition: all 300ms
}

.project-src-btn:hover{
  background-color: var(--theme-color77);
}

.project-src-btn img{
  margin: 0;
  margin-right: 5px;
  height: 20px;
  width: auto;
}



/* ******************************* FOOTER ********************************** */
footer {
  background-color: var(--theme-color2);
  color: var(--theme-color99);
  padding: 50px;
  display: flex;
  flex-direction: column;
}

footer h2 {
  color: var(--theme-color8);
}


#footer-main-division {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
  max-width: 700px;
  text-align: center;
  width: 40%;
  min-width: 300px;
}

input, textarea, footer button, select {
  border: none;
  padding: 12px 2%;
  margin: 3px 10px;
  font-size: 1em;
  font-family: 'Lora', cursive;
  border-radius: 8px;
  flex-grow: 1;
  width:  100%;
  border: 2px solid var(--theme-color444);
  border-radius: 3px;
  background-color: var(--theme-color1);
  color: var(--theme-color99);
}


textarea {
  height: 120px;
}

footer button {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  border: 0px solid var(--theme-color777);
  background-color: var(--theme-color444);

  color: var(--theme-color99);
  transition: all 300ms;
}

footer button:hover {
  opacity: 70%;
  color: var(--theme-color99);
  cursor: pointer;
}

#informations {
  width: fit-content;
  padding: 0px;
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--theme-color99);
}

@media only screen and (max-width: 1060px) {
  #form, #informations {
    margin-left: 10%;
    margin-right: 10%;
  }
}



#informations ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin-left: 0;
  list-style: none;
  width: fit-content;
  height: 100px;
  width: 100%;
}

#informations li {
  margin: 0px 0 20px 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}


#informations a {
  text-align: left;
  color: var(--theme-color99);
  text-decoration :none;
}


#informations #instagram-button {
  margin-left: 5px;
}

#informations img {
  float: left;
  margin-right: 10px;
  width: 25px;
  filter: invert(100%);
}


#last-line {
  height: 1px;
  width: 75%;
  background-color: var(--theme-color99);
  margin: 60px auto;
}

#copyright-and-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0 10%;
}

#copyright {
  text-align: left;
  color: var(--theme-color99);
  flex-grow: 1;
}

#icons {
  height: 50px;
  text-align: right;
}

#copyright-and-icons a {
  display: inline-block;
  text-decoration: none;
  color: var(--theme-color99);
  transition: 0.1s;
}

#copyright-and-icons a:hover {
  text-decoration: underline;
  transition: 0.1s;
}

#section-map-division {
  text-align: center;
}


#map {
  margin-left: 15%;
  height: 350px;
  width: 70%;
}

/* ******************************** RESUME PAGE ************************************** */

#pdf-section {
  background: var(--theme-color99) no-repeat;
  background-size: cover;
  color: var(--theme-color1);
  margin: 80px 0 0 70px;
  padding: 0;
  height: 800px;
  width: 65%;    
  flex-direction: column;
  /* overflow: hidden; */
}

.pdf-container {
  background: var(--theme-color99) no-repeat;
  background-size: cover;
  color: var(--theme-color1);
  margin: 0;
  padding: 0;
  height: 100%;  
  width: 100%;   
  display: flex; 
  align-items: center;
  justify-content: center;
  position: relative; /* Allows overlay elements to be positioned absolutely */

}

.iframe {
  height: 100%;
  width: 100%;
  border: none; /* Removes any default iframe border */
  border-radius: 10px; /* Keeps the rounded corners if desired */
}


/* ******************************** EFFECTS ************************************** */


/* ******************************** REUSABLES ************************************** */

.extending-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  background: inherit;
  overflow: hidden;
  padding: 1px auto;
  transition: all ease-in 1s;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto 15px;
  transition: all 500ms ease;
  cursor: pointer;
}

.extending-button #arrow {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  margin: auto 15px;
  align-items: center;
  row-gap: 0px;
  transition: all 500ms ease;

}

.extending-button #arrow-body {
  border-width: 1px;
  border-top-color: var(--theme-color99);
  border-right-color: var(--theme-color99);
  border-top-style: solid;
  border-right-style: solid;
  width: 0px;
  height: 1px;
  background-color: var(--theme-color99);
  transition: all 500ms ease;
  transform: translate(7px);
}

.extending-button #arrow-head {
  border-width: 3px;
  border-top-color: var(--theme-color99);
  border-right-color: var(--theme-color99);
  border-top-style: solid;
  border-right-style: solid;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  transition: all 500ms ease;

}

.extending-button #micro-text {
  color: var(--theme-color99);
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 20px;
  display: inline;
  white-space: nowrap;
}

.extending-button #micro-text::selection {
  color: var(--theme-color99);
  background-color: purple;
}

.extending-button:hover {
  width: 170px;
  transition: all 500ms ease;

}


.extending-button:hover #arrow-head {
  transform: translate(5px) rotate(45deg);
  ;
}

.extending-button:hover #arrow-body {
  width: 12px;
}